/* Importing google fonts - Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+JP:wght@100..900&family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(121, 64, 235);
}

:where(.config-container, .quiz-container, .result-container) {
    display: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.13);
}

.config-container {
    display: none;
    width: 410px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.13);
}

.config-container .config-title {
    font-size: 1.35rem;
}

.config-container .config-option {
    margin-top: 25px;
}

.config-option .option-title {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.config-option .category-options {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}
.config-option .question-options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0x 30px;
    justify-content: center;
}
.config-option button {

    padding: 12px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(203, 114, 240);
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.98rem;
    font-weight: 500;
    transition: 0.3s ease;
}

.config-option button.active {
    border-color: #5145BA ;
    color: #5145BA;
    background-color: #dfdafd;
}
.config-container .start-quiz-btn, 
.quiz-footer .next-question-btn, 
.result-container .try-again-btn{
    color: white;
    background-color: #7468dc;
    border: none;
    
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.config-container .start-quiz-btn {
    margin-top: 30px;
}

/*Below the hover will only apply to next-quesiton button
and the bg-color will apply to start-quiz-btn  and not on hover.*/
.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover,
.result-container .try-again-btn:hover  {
    background-color: #403785;
}



.config-option button:hover,
.quiz-content .answer-option:hover {
    background-color: #dad5fd;
}

.question-options button {
    flex: 1 1 10%;
}

.quiz-container {
    width: 500px;
}

.quiz-content .quiz-text {
    font-size: 1.5rem;
    font-weight: 600;
}

.quiz-container .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}

.quiz-header .quiz-timer {
    width: 70px;
    padding: 7px 8px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    background-color: rgb(166, 23, 166);
    color: white
}

.quiz-header .quiz-timer span {
    font-size: 1.4rem;
}

.quiz-header .quiz-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.quiz-container .quiz-content {
    padding : 20px 25px 25px;
}

.quiz-content .answer-options {
    list-style: none;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;

} 

.quiz-content .answer-option {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px 12px;
    cursor: pointer;
    background-color: rgb(255, 251, 251);
    border-radius: 10px;
    border: 1px solid rgb(216, 157, 216);
    transition: 0.3s ease;
}

.quiz-content .answer-option span {
    display: block;
    flex-shrink: 0;
    margin: -4px -3px -4px 12px;
}

.quiz-content .answer-option.correct {
    background-color: rgb(187, 228, 187);
}


.quiz-content .answer-option.incorrect {
    background-color: rgb(248, 172, 172);    
}

.quiz-container .quiz-footer {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(222, 218, 218);
}

.quiz-footer .quiz-status b,
.result-container .result-message b {
    font-weight: 500;
}

.quiz-footer .next-question-btn {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    padding: 9px 17px;
}

.result-container {
    display: block;
    width: 410px;
    text-align: center;
    padding: 20px;
}

.result-container .result-img {
    width: 110px;
}

.result-container .result-title {
    margin-top: 30px;
}

.result-container .result-message {
    font-size: 1.09rem;
    font-weight: 400;
    margin-top: 20px;
}

.result-container .try-again-btn {
    margin-top: 20px;
    padding: 12px 20px
}
